*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #f4f1ea;
    color: #111111;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

h1, h2, h3{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}